#dark{
display:none; 
width:100%;
height: 100vh;
background: green;
opacity:0.5;
position: absolute;
margin: auto;
top:0;
bottom:0;
left:0;
right:0;
}
#menu-cont{
display:none; 
width: 80%;
max-width: 500px;
height: 90%;
max-height: 400px;
position: absolute;
margin: auto;
top:0;
bottom:0;
left:0;
right:0;
background-image: url(../images/bg/bgis.jpeg);
background-size: 100% 100%; /**white;/**linear-gradient(to bottom,transparent 0%,transparent 10%,white 40%,white 100%);**/
border-radius: 10px;//0 10px 5px 0;
font-size: 16px;
}
#close-div{
width:100%;
height: 40px;
background: transparent;
padding: 0px;
display: flex;
flex-direction:row;
border-radius: 0 40px 40px 0;
}
#close-push{
width:calc(100% - 38px);
height: wrap-content;
background: transparent;
padding: 5px;
display: flex;
flex-direction:row;
align-items: center;
}
#close-img{
width: 38px;
height: 38px;
border-radius: 10px;
box-shadow: 0 0 5px 0 red;
}
#slider{
width:100%;
height: calc(100% - 50px);
background: transparent;
padding: 5px;
display: flex;
flex-direction: column;
overflow: scroll;
}
.menu-item{
width: 100%;
height:wrap-content;
/**border-bottom: 1px solid green;**/
background: transparent;
font-size: 16px;
color: white;
display: flex;
flex-direction: row; 
align-items: center; 
justify-content:center;
padding:5px;
}
.menu-item-item{
padding: 0px; display:flex; flex-direction:row; align-items:center; margin:5px; width: 80%; height:wrap-content; background: gold; color: green; font-size: 20px; border-radius: 10px; font-weight: bold; border:3px solid green;
}
.menu-item .desc{
height:30px;
width:100%;
font-size: 16px;
color: white;
background: transparent;
font-weight: bold;
}
select{
width:100%;
height: 40px;
outline: none;
background: transparent;
color: white;
border: 1px solid transparent;
font-weight: bold;
}
#menu-title{
color: gold;
font-weight: bold;
font-size: 20px;
}
#btn-nxt{
background-image: url(../images/bg/next.png);
}
#sett-music-icon, #sett-sound-icon{
height:50px;
width:50px; 
border: 4px solid gold; 
border-radius:50%;
margin: 5px 30px;
}
.inp{
outline: none;
width: 100%;
font-size: 16px;
color: black;
background: white;
border: none;
border-bottom: 5px solid green;
padding: 12px 5px;
border-radius:5px 5px 0 0;
}
.inp:focus{
border-bottom: 5px solid gold;
}


